/* Code tidied up by ScrapBook */
@font-face {
  font-family: "fontello";
  font-style: normal;
  font-weight: 400;
  src: url("fontello.eot") format("embedded-opentype"), url("fontello.woff2") format("woff2"), url("fontello.woff") format("woff"), url("fontello.ttf") format("truetype"), url("fontello.svg") format("svg");
}
