/* Code tidied up by ScrapBook */
@font-face {
  font-family: "slick";
  font-style: normal;
  font-weight: normal;
  src: url("slick.eot") format("embedded-opentype"), url("slick.woff") format("woff"), url("slick.ttf") format("truetype"), url("slick.svg") format("svg");
}
